* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}

button {
  padding: 10px 30px;
  border: 2px solid #333;
  border-radius: 0;
  background: none;
  cursor: pointer;
}

.App {
  max-width: 650px;
  margin: auto;
  border: 2px solid #c1c1c1;
  padding: 10px;
}

header {
  padding: 27px 20px;
  display: flex;
  border: 3px solid orange;
  margin-bottom: 9px;
  display: flex;
  justify-content: space-between;
}

ul.topics-nav {
  display: flex;
  justify-content: space-around;
  margin-bottom: 9px;
}

ul.topics-nav li {
  border: 3px solid green;
  padding: 10px 20px;
  cursor: pointer;
}

ul.articles,
main.single-article {
  border: 1px solid red;
}

ul.articles li {
  border: 3px solid gray;
  padding: 27px 20px;
  margin-bottom: 18px;
}

ul.articles li:last-of-type {
  margin-bottom: 0;
}

ul.articles li p,
main.single-article section.article p {
  font-size: .66rem;
  background: #f1f1f1;
  padding: 5px 9px;
  display: inline-block;
  margin: 5px;
}

main.single-article section.article p:last-of-type {
  font-size: 1rem;
  background: none;
  padding: 0;
  display: block;
  margin: 0;
}

ul.articles li p:first-of-type,
main.single-article section.article p:first-of-type {
  margin-left: 0;
  margin-top: 9px;
}

ul.articles li img {
  width: 300px;
  height: 200px;
  margin-top: 9px;
}

main.single-article section.article img {
  width: 100%;
  height: auto;
  margin-top: 9px;
}

ul.articles li button {
  margin-top: 9px;
  display: block;
}

/* Comments */

ul.comments {
  margin-top: 18px;
  border: 3px solid yellow;
}

/* AddComment */

form.comments {
  width: 100%;
  border: 3px solid purple;
  margin-top: 18px;
}

form.comments input[type="textarea"] {
  width: 100%;
  padding: 9px 10px;
  border-radius: 0;
  margin-bottom: 18px;
  min-height: 54px;
}