* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  background: #f1f1f1;
}

header,
ul.articles,
main.single-article {
  background: white;
  border-radius: 5px;
  border-bottom: 3px solid #999;
}

ul.articles,
main.single-article {
  padding: 15px 20px;
  margin-bottom: 27px;
}

button {
  padding: 10px 30px;
  border-radius: 0;
  border: none;
  background: #333;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  border-bottom: 3px solid #999;
}

.App {
  max-width: 650px;
  margin: auto;
  padding: 10px;
}

header {
  padding: 27px 20px;
  display: flex;
  margin-bottom: 9px;
  display: flex;
  justify-content: space-between;
}

ul.topics-nav {
  display: flex;
  justify-content: space-around;
  margin-bottom: 9px;
}

ul.topics-nav li {
  border: 3px solid green;
  padding: 10px 20px;
  cursor: pointer;
}

ul.articles li {
  margin-bottom: 18px;
  border-bottom: 3px dotted #999;
  padding-bottom: 18px;
}

ul.articles li:last-of-type {
  margin-bottom: 0;
  border-bottom: 0;
}

ul.articles li p,
main.single-article section.article p,
ul.comments li p {
  font-size: .66rem;
  background: #f1f1f1;
  padding: 5px 9px;
  display: inline-block;
  margin: 5px;
}

main.single-article section.article p:last-of-type,
ul.comments li p:first-of-type {
  font-size: 1rem;
  background: none;
  padding: 0;
  display: block;
  margin: 0;
}

ul.comments li p:nth-of-type(2) {
  margin-left: 0;
}

ul.comments li {
  padding: 20px 0;
  margin-bottom: 9px;
  border-bottom: 3px dotted #999;
}

ul.comments li:last-of-type {
  border-bottom: none;
}

ul.articles li p:first-of-type,
main.single-article section.article p:first-of-type {
  margin-left: 0;
  margin-top: 9px;
}

ul.articles li img {
  width: 300px;
  height: 200px;
  margin-top: 9px;
}

main.single-article section.article img {
  width: 100%;
  height: auto;
  margin-top: 9px;
}

ul.articles li button {
  margin-top: 9px;
  display: block;
}

/* Comments */

ul.comments {
  margin-top: 18px;
}

/* AddComment */

form.comments {
  width: 100%;
  border: 3px solid purple;
  margin-top: 18px;
}

form.comments input[type="textarea"] {
  width: 100%;
  padding: 9px 10px;
  border-radius: 0;
  margin-bottom: 18px;
  min-height: 54px;
}

/* Article likes */

.likes {
  margin-top: 18px;
}

.likes .like {
  display: flex;
  align-items: center;
  background: none;
  color: #222;
  padding: 0;
  border-bottom: 0;
}

.likes .like svg {
  color: #fb3958;
  font-size: 1.6rem;
  margin-top: 5px;
}


